<div id="bottom">
    <span class="topfont">版权所有:张藐方</span>
    <span class="topfont">友情链接:</span>&nbsp;
    <a href="#" target="_blank"  class="topfont">XX网站</a>&nbsp;&nbsp;
    <a href="#" target="_blank"  class="topfont">XX网站</a>&nbsp;&nbsp;
    <a href="#" target="_blank"  class="topfont">XX网站</a>&nbsp;&nbsp;
</div>
<div id="bottom_tihuan">
</div>
{#<div id="dialog"  title="用户注册">#}
{#<div id="post">#}
{##}
{#    <form id="register_form" action="/htfsweb/j_spring_security_check" method="post">#}
{#        <table>#}
{#            <tr>#}
{#                <td height = "40px" valign="center" align="right">用户名:</td>#}
{#                <td height = "40px" valign="center" align="left"><input id="username_r" name="j_username"   size = "26" class = "post_input"></td>#}
{#            </tr>#}
{##}
{#            <tr>#}
{#                <td height = "40px" valign="center" align="right">密码:</td>#}
{#                <td height = "40px" valign="center" align="left"><input id="password_r" name="j_password" type="password"   size = "26" class = "post_input"></td>#}
{#            </tr>#}
{##}
{#            <tr>#}
{#                <td height = "40px" valign="center" align="right">确认密码:</td>#}
{#                <td height = "40px" valign="center" align="left"><input id="newPassword_r" name="newPassword" type="password"   size = "26" class = "post_input"></td>#}
{#            </tr>#}
{##}
{#            <tr>#}
{#                <td height = "40px" valign="center" align="right">电子邮箱:</td>#}
{#                <td height = "40px" valign="center" align="left"><input id="email" name="email"    size = "26" class = "post_input"></td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td height = "40px" valign="center" align="right">电话:</td>#}
{#                <td height = "40px" valign="center" align="left"><input id="telephone" name="telephone"    size = "26" class = "post_input"></td>#}
{#            </tr>#}
{##}
{#            <tr>#}
{#                <td height = "40px" valign="center" align="right">验证码:</td>#}
{#                <td height = "40px" valign="center" align="left">#}
{#                    <input id="code_r" name="code"    size = "8" class = "post_input">#}
{#                    <a href = "#">#}
{#                        <img style="margin-left:15px;" align="absmiddle" >#}
{#                    </a>#}
{#                </td>#}
{#            </tr>#}
{##}
{#            <tr>#}
{#                <td></td>#}
{#                <td colspan="2" height = "60px" valign="center" align="left">#}
{#                <div id="messageReg">#}
{#                </div>#}
{#                <div id="RegDiv">#}
{#                <a href="#" class="btn" onclick="register(event);return false;"onmouseover="this.style.backgroundPosition='0 -26px'"					onmouseout="this.style.backgroundPosition='0 0'"					onmousedown="this.style.backgroundPosition='0 -52px'"					onmouseup="this.style.backgroundPosition='0 -26px'">提交</a>#}
{##}
{#                    <a href="#" class="btn" onclick="restRegisterWin();return false;" onmouseover="this.style.backgroundPosition='0 -26px'"					onmouseout="this.style.backgroundPosition='0 0'"					onmousedown="this.style.backgroundPosition='0 -52px'"					onmouseup="this.style.backgroundPosition='0 -26px'">重置</a>#}
{##}
{#                </div>#}
{#                </td>#}
{#            </tr>#}
{#        </table>#}
{#    </form>#}
{#</div>#}
{#</div>#}
{#<div id="bg" class="maskbg">#}
{#    <iframe class="mask_iframe">#}
{#    </iframe>#}
{#    <div id="show">#}
{#        <img src="/media/jquery/images/loader.gif">#}
{#        <div id="mask_message">正在初始化系统,请稍等...#}
{#        </div>#}
{#    </div>#}
{#</div>#}