{% extends "basepage/basepage.html" %}
{% block title %}
    <title>简历列表</title>
{% endblock  %}
{% block content %}

    <div class="con_center" >

            <div style="width: 100%;">
            <table class="tablemargin" width="100%" height="100%" border="0" cellspacing="0"
                			cellpadding="0">
            <tr>
                <td height="32" class="table1">
                    <div class="content_title">
                        <span> <b>简历管理/简历列表</b></span>
                        <div class="title_form600">

                            <a href="/addjianli" class="add_btn"><div class="btn_style1"
                             style="background:url(/media/images/btn_add.gif) no-repeat 0 0;"
                             onmouseover="this.style.backgroundPosition='0 -24px'"
                             onmouseout="this.style.backgroundPosition='0 0'"
                             onmousedown="this.style.backgroundPosition='0 -48px'"
                             onmouseup="this.style.backgroundPosition='0 -24px'">添加职位</div></a>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td valign="top">
            <table id="jianlilist" class="table0 tdpadding" width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr >
                <td width="50px" align="center"  >
                        序号
                    </td>
                    <td align="center" >
                        职位名称
                    </td>
                    <td width="100px" align="center" >
                        最后修改日期
                    </td>
                    <td width="80px" align="center" >
                        被浏览次数
                    </td>
                    <td width="80px" align="center" >
                        状态
                    </td>
                    <td width="180px" align="center" >
                        操作
                    </td>
                </tr>
                {% for jianli in list %}
                <tr>
                    <td align="center" >{{ forloop.counter }}</td>
                    <td class="btn"><a href="/lookjianli?jianli_id={{ jianli.pk }}">{{ jianli.name }}</a></td>
                    <td align="center" >{{ jianli.updatetime|date:"Y-m-d" }}</td>
                    <td align="center" class="btn"><a href="/jianliRecodelook?jianli_id={{ jianli.pk }}">{{ jianli.looknum }}</a></td>
                    <td align="center"class="btn" ><a href="#"  onclick="confirm_alert2('warn','要将 {{ jianli.name }} 简历设为：{% if jianli.ispub %}不公开{% else %}公开{% endif %} ?','/pubjianli?jianli_id={{ jianli.pk }}')">{% if jianli.ispub %}公开{% else %}不公开{% endif %}</a></td>
                    <td align="center" class="btn" ><a href="#"  onclick="confirm_alert2('warn','要修改简历：{{ jianli.name }} ?','/addjianli?jianli_id={{ jianli.pk }}')">修改</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" onclick="confirm_alert2('warn','要删除简历：{{ jianli.name }} ?','/deljianli?jianli_id={{ jianli.pk }}')">删除</a></td>
                </tr>
                {% endfor %}
            </table>
            </td>
            </tr>
            </table>
            </div>
    </div>
<script type="text/javascript">
    senfe("jianlilist","#f6f6f6","#fff","#d9ebf5","#aed6fc");
</script>
{% endblock  %}