{% extends "basepage/basepage.html" %}
{% block content %}

    <div class="con_center" >
        <table id="jianli_table" width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr >
                <td align="center">
                    新建简历
                </td>
            </tr>
            <tr>
                <td align="right">
                    简历名称:
                </td>
                <td colspan="3">
                    <input type="text" name="name" >
                </td>
            </tr>
            <tr>
                <td align="right">
                    姓名:
                </td>
                <td align="left">
                    <input type="text" name="name" >
                </td>
                <td align="right">
                    性别:
                </td>
                <td align="left">
                    <input type="text" name="name" >
                </td>
            </tr>
            <tr>
                <td align="right">
                    出生日期:
                </td>
                <td align="left">
                    <input type="text" name="name" >
                </td>
                <td align="right">
                    工作年龄:
                </td>
                <td align="left">
                    <input type="text" name="name" >
                </td>
            </tr>
            <tr>
                <td align="right">
                    专业:
                </td>
                <td align="left">
                    <input type="text" name="name" >
                </td>
                <td align="right">
                    民族:
                </td>
                <td align="left">
                    <input type="text" name="name" >
                </td>
            </tr>
            <tr>
                <td align="right">
                    手机号:
                </td>
                <td align="left">
                    <input type="text" name="name" >
                </td>
                <td align="right">
                    电子邮件:
                </td>
                <td align="left">
                    <input type="text" name="name" >
                </td>
            </tr>
            <tr>
                <td align="right">
                    自我描述：
                </td>
                <td align="right">
                </td>

            </tr>
            <tr>
                <td align="right">
                                </td>
                <td colspan="3">
                    <textarea rows="15"   style="width: 75%;">

                    </textarea>
                </td>

            </tr>
        </table>
    </div>


{% endblock  %}