{% extends "basepage/basepage.html" %}
{% block content %}
    <div class="con_head">
        <div class="con_h_left" >
            <div style="width: 100%;text-align: left;">
                <span class="loginh1">退出</span>
            </div>
            <p>
                您已经安全退出。返回<a href="/">首页</a>
            </p>
            <p>
                重新<a href="/accounts/login/">登录</a>
            </p>
        </div>
        <div class="con_h_right">
            <div style="height: 30px;"></div>
            <div style="text-align: left;padding-left: 20px;" >
                <p>&gt; 没有账号？ <a href="/Reg">注册</a>一个吧！</p>
                <p>&gt; <a href="#">新浪微博账号登录</a></p>
                <p>&gt; <a href="#">腾讯微博账号登录</a></p>
                <p>&gt; <a href="#">网易微博账号登录</a></p>
                <p>&gt; <a href="#">QQ微博账号登录</a></p>
            </div>

        </div>
    </div>



{% endblock  %}