{% extends "basepage/basepage.html" %}
{% block content %}
    <div class="con_head">
        <div class="con_h_left" >

        <div style="text-align: left;margin-left:10px;">
            <p><span style="color: red;" >{{ msg }}</span></p>
            {% ifequal user.person.type  1%}
            <p><span><b>个人用户</b></span></p>
            <p ><a href="/addjianli" class="reg_btn">创建简历</a></p>
            {% endifequal %}
            {% ifequal user.person.type 2 %}
            <p><span><b>企业用户</b></span></p>
            <p><a href="/updatecompany" class="reg_btn">企业信息</a></p>
            <p ><a href="/addwork" class="reg_btn">发布职位</a></p>
            {% endifequal %}
        </div>


        </div>

        <div class="con_h_right">
            <div style="height: 30px;"></div>
            <div style="text-align: left;padding-left: 20px;" >
                <p>&gt; 绑定微博，可以在更新信息时同步到微博中</p>
                <p>&gt; <a href="#">绑定新浪微博账号</a></p>
                <p>&gt; <a href="#">绑定腾讯微博账号</a></p>
                <p>&gt; <a href="#">绑定网易微博账号</a></p>
                <p>&gt; <a href="#">绑定QQ微博账号</a></p>
            </div>

        </div>
    </div>



{% endblock  %}